html
{
    scroll-behavior: smooth;
}

body
{
    background: black;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: #FFFFFF99;
}

/* .container
{
    max-width: 64%;
} */

h1
{
    font-size: 3rem;
    color: #03DAC5;
    font-weight: 600;
}

h5
{
    font-size: 1.25rem;
    color: #03DAC5;
    font-weight: 600;
}

.headphones
{
    height: 185px;
}

h2
{
    font-size: 2rem;
    color: #FFFFFF99;
    font-weight: 600;
}

.how-to-cards
{
    background-color: rgba(255, 255, 255, 0.16);
    /* padding: 1.5rem; */
    border-radius: 4px;
    font-weight: 600;
    font-size: 1.25rem;
    color: #03DAC5CC;
    display: flex;
    align-items: center;
}

input
{
    background-color: #2E2E2E99;
    border-color: #03DAC5;
    color: #FFFFFFDE;

}


/* button
{
    background-color: #2200FF;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
} */

/* button:disabled
{
    background-color: rgb(79, 119, 251);
} */

.button-link-like
{
    background-color: rgba(255, 222, 173, 0);
    border: none;
    border-radius: 5px;
    padding: 8px 0px;
    color: #03DAC599;
    font-size: 1rem;
    font-weight: 600;
}

p
{
    font-family: 'Inter', sans-serif;
    font-size: 1rem;    
}



/* textarea
{
    padding: 8px;
    margin: 1px 0px;
    border-radius: 5px;
    color: #2200FF;
    font-size: 3rem;
    line-height: 24px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
} */

.btn-outline-secondary
{
    background-color: #03DAC53D;
    color: #03DAC5;
    font-size: 1rem;
    font-weight: 600;
}



.player-container
{
    background-color: rgba(255, 255, 255, 0.08);
    box-shadow: 0px 1px 3px 0px #00000033;
    box-shadow: 0px 2px 1px 0px #0000001F;
    box-shadow: 0px 1px 1px 0px #00000024;
    border-radius: 4px;
    /* padding: 2rem; */
    min-height: 100%;
}

select
{
    padding: 0.75rem;
    background-color: #0b4e47;
    color: #FFFFFFDE;
    border-color: #03DAC599;
    border-radius: 4px;
}

.btn-primary
{
    background-color: #03DAC5;
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
}

.btn-primary:focus
{
    background-color: #03DAC5;
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
}

.btn-primary:disabled
{
    background-color: #03dac591;
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
}

.btn-primary:hover
{
    background-color: #03dac591;
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
}

.btn-primary:active
{
    background-color: #03dac591;
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
}

.player-controls
{
    background-color: rgba(85, 85, 85, 0.84);
    /* background-color: #4B4B4B; */
    backdrop-filter: blur(4px);    
    border-radius: 4px;
    box-shadow: 0px 11px 15px 0px #00000033;
    box-shadow: 0px 9px 46px 0px #0000001F;
    box-shadow: 0px 14px 38px 0px #00000024;
    position: relative;
    width: 100%;
}

.floating-reset
{
    position: absolute;
    /* left: 40%; */
    bottom: 5%;
    z-index: 1;
    color: #03DAC5;
    width: 100%;
}

.reading-now
{
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 4px;
    box-shadow: 0px 11px 15px 0px #00000033;
    box-shadow: 0px 9px 46px 0px #0000001F;
    box-shadow: 0px 14px 38px 0px #00000024;
    padding: 1.5rem;
}

/* #prev-button, #speak-button, #pause-button, #resume-button, #next-button, #stop-button
{
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.32);
    margin: 5px;
} */

/* footer
{
    margin-top: 3rem;
    background-color: #2200FF;
    color: white;
    text-align: center;
    padding: 5px;
} */


@keyframes line1
{
    60%
    {
        margin-top: 16px;
    }
}

@keyframes line2
{
    50%
    {
        margin-top: 0px;
    }
}

@keyframes line3
{
    70%
    {
        margin-top: 16px;
    }
}

@keyframes line4
{
    40%
    {
        margin-top: 12px;
    }
}

.speaking-animation
{
    width: 7px;
    background-color: #03DAC5;
    margin: 2px;
}

.line1
{
    margin-top: 7px;
    animation: line1 1s linear infinite;
}

.line2
{
    margin-top: 10px;
    animation: line2 1.2s linear infinite;
}

.line3
{
    margin-top: 0px;
    animation: line3 1.4s linear infinite;
}

.line4
{
    margin-top: 5px;
    animation: line4 1.1s linear infinite;
}
