@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbars {
    scrollbar-width: none;
}

.hide-scrollbars::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #008080;
    border-radius: 8px;
    height: 32px;
}

html {
    -webkit-tap-highlight-color: #055d577c;
}